<button class="disbtn table-button btn btn-outline-danger btn-sm"
    hx-post="{% url button.view_name button.pk %}"
    hx-trigger='confirmed'
    hx-target="#main"
    _="on click
        call Swal.fire({icon: 'warning', title: 'Внимание', text:'{{ button.confirm_message }}', background: 'white', showCancelButton: true, confirmButtonColor: '#0d6efd', cancelButtonColor: '#dc3545', confirmButtonText: 'Да', cancelButtonText: 'Отмена'})
        if result.isConfirmed trigger confirmed">
  {{ button.name }}
</button>