<tr>
    <td class="align-middle ps-2 align-text-top">
        <div class="input-group">
            {{ form.id }}
            {{ form.patient }}
            {{ form.entry_date }}
        </div>
        <div class="form-error">{{ form.entry_date.errors }}</div>
        <div class="form-error">{{ form.non_field_errors }}</div>
    </td>
    <td class="align-middle text-center align-text-top">
        <div class="input-group">
        {{ form.leaving_date }}
        </div>
        <div class="form-error">{{ form.leaving_date.errors }}</div>
    </td>
    <td class="align-middle text-center align-text-top">
        <div class="input-group">
        {{ form.notes }}
        </div>
        <div class="form-error">{{ form.leaving_date.errors }}</div>
    </td>
    <td class="align-middle text-center align-text-top">
        <!-- Кнопка "Сохранить" -->
        <button type="submit"
                class="table-button btn btn-success btn-sm me-2"
                hx-post="{% url 'hospitalizations:update' hospitalization.id %}"
                hx-target="closest tr"
                hx-swap="outerHTML"
                hx-trigger="confirmed"
                hx-include="closest tr"
                _="on click
                   call Swal.fire({icon: 'question', title: 'Внимание', text:'Вы точно хотите сохранить изменения?', background: 'white', showCancelButton: true, confirmButtonColor: '#0d6efd', cancelButtonColor: '#dc3545', confirmButtonText: 'Да', cancelButtonText: 'Отмена'})
                   if result.isConfirmed trigger confirmed">
            Сохранить
        </button>
        <!-- Кнопка "Отменить" -->
        <button class="table-button btn btn-warning btn-sm me-2"
                hx-get="{% url 'hospitalizations:detail' hospitalization.id %}"
                hx-target="closest tr"
                hx-swap="outerHTML">
            Отменить
        </button>
    </td>
</tr>