{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href="{% static 'images/favicon.png' %}" sizes="32x32" rel="shortcut icon"  type="image/png">
    <script src="{% static 'js/bootstrap.bundle.min.js' %}" defer></script>
    <script src="{% static 'js/htmx.min.js' %}" defer></script>
    <script src="{% static 'js/_hyperscript.min.js' %}" defer></script>
    <script src="{% static 'js/sweetalert2@11.js' %}" defer></script>
    <script src="{% static 'js/patients.js' %}" defer></script>
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'patients:index' %}" hx-boost="false">CRM</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Переключатель навигации">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      {% for menu in main_menu %}
        <li class="nav-item">
            <a href="{% url menu.url %}" hx-target="#main" hx-indicator="#spinner" hx-swap="innerHTML" hx-boost="true" class="nav-link">
            {{ menu.name }}</a>
        </li>
      {% endfor %}
      </ul>
          <span class="navbar-text"><a  hx-boost="true" hx-target="#main" style="padding-right:10px;" href="{% url 'users:profile' %}">{{ user.username }}</a></span>
          <form hx-boost="false" action="{% url 'users:logout' %}" method="post">{% csrf_token %}<button class="btn btn-outline-light btn-sm" type="submit">Выйти</button></form>
         </span>
    </div>
  </div>
</nav>

<div class="container-fluid px-0">
    <div class="row gx-0">
        <div class="col-md-2 col-xs-12 sidebar">
            <div class="p-3" hx-boost="true">
                <!-- Left Side Bar -->
                <ul>
                    <li><a href="{% url 'patients:contacts' %}" hx-target="#main" class="sidebar_link">Контакты</a></li>
                    <li><a href="{% url 'patients:about' %}" hx-target="#main" class="sidebar_link">О проекте</a></li>
                </ul>
            </div>
        </div>
        <div class="p-3 col-md-10  main" id ="main">
            <!-- Main -->
            {% block content %}
            {% endblock %}
            {% include 'patients/includes/spinner.html' %}
        </div>
</div>
</div>
</body>
</html>