{% load static %}
<div class="container">
  <div class="row row-cols-3">
      {% for menu in main_menu %}
            <div class="col text-center" hx-boost="true">
                    <a href="{% url menu.url %}" hx-target="#main" hx-indicator="#spinner" hx-swap="innerHTML">
                        <figure class="figure">
                        <img src="{% static menu.image_url %}" class="figure-img img-fluid rounded" alt="{{ menu.name }}" style="width:100px;">
                            <figcaption class="figure-caption">{{ menu.name }}</figcaption>
                        </figure>
                    </a>
            </div>
      {% endfor %}
  </div>
</div>