<nav aria-label="breadcrumb">
    <ol class="breadcrumb alert alert-secondary" itemprop="breadcrumb">
	{% for item in breadcrumbs %}
	{% if forloop.last %}
	<li class="breadcrumb-item active" itemprop="itemListElement" aria-current="page">
	    <span itemprop="name">{{ item.name }}</span>
	    <meta itemprop="position" content='{{item.position}}' />
	</li>
	{% else %}
	<li class="breadcrumb-item" itemprop="itemListElement" >
	    {% if item.resolved %}
	    <a itemprop="item" href="{{item.url}}" >
		<span itemprop="name">{{item.name}}</span>
	    </a>
	    <meta itemprop="position" content="{{item.position}}" />
	    {%else%}
	    <span itemprop="name">{{item.name}}</span>
	    <meta itemprop="position" content="{{item.position}}" />

	    {%endif%}
	</li>
	{% endif %}
    	{% endfor %}
    </ol>
</nav>