<h3 align="center">{{ title }}</h3>
<p>Пациент: {{ hospitalization.patient.surname }} {{ hospitalization.patient.name }} {{ hospitalization.patient.patronymic }}</p>
<form>
    <div class="container col-md-6 col-md-offset-3 text-center">
    {% csrf_token %}
    <div class="form-error">{{ form.non_field_errors }}</div>
    {% for f in form %}
        <div class="input-group mb-3">
            <span class="input-group-text" id="{{ f.id_for_label }}">{{ f.label }}</span>
            {{ f }}
        </div>
        {% if f.errors %}
        <div class="text-danger">{{ f.errors }}</div>
        {% endif %}
    {% endfor %}
    <p>
    <button class="btn btn-dark btn-sm"
            hx-post="{% url 'hospitalizations:leave' pk  %}"
            hx-target="#main" >
        Выписать
    </button>
    </p>
    </div>

</form>

