{% if patient.active %}
<!-- Кнопка "Запись активна" -->
<button class="disbtn table-button btn btn-outline-primary btn-sm me-2"
        hx-put="{% url 'patients:update_patient_status' patient.pk %}"
        hx-target="closest tr"
        hx-swap="outerHTML"
         _="on click call
            Swal.fire({
               position: 'top-end',
               icon: 'success',
               title: 'Пациент заблокирован',
               showConfirmButton: false,
               timer:1500
            })">
    Доступен
</button>
{% else %}
<!-- Кнопка "Запись неактивна" -->
<button class="disbtn table-button btn btn-outline-secondary btn-sm me-2"
        hx-put="{% url 'patients:update_patient_status' patient.pk %}"
        hx-target="closest tr"
        hx-swap="outerHTML" >
    Заблокирован
 </button>
{% endif %}